.Square {
  width: 13px;
  height: 13px;
  display: inline-block;
  box-sizing: border-box;
  /* margin: 1px; */
}

.grey {
  background-color: grey;
}

.red {
  background-color: red;
  border: 1px solid black;
}

.blue {
  background-color: blue;
  border: 1px solid white;
}

.white {
  background-color: white;
}

.green {
  background-color: green;
  border: 1px solid black;
}

br {
  height: 0px;
}
